{{partial "equipments/form"}}
<button type="button" class="btn btn-success btn-lg btn-block" {{action "save" this}}>Save changes</button>
<button type="button" class="btn btn-default btn-lg btn-block" {{action "cancel" this}}>Cancel changes</button>
<button type="button" class="btn btn-default btn-lg btn-block delete-btn" {{action "delete" this}}>Delete equipment</button>
